@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: Catamaran, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #111133;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

::-webkit-scrollbar {
  background: #4444ff44;
}

::-webkit-scrollbar-thumb {
  background: #4444ff;
}
